h1{
    color:#ffff00;
    font-size:50px;
    font-wight:bold;
    font-family-"Impact"
    text-align:center;
    background-color:#444444;
}
p{
    background-color:yellow;
    
}

body{
    background-image:url(../images/img_df50e9b9581e2e4c9bc9bed6cca0ce18380281.jpg)
}