h1{
    color:#ffff00;
    font-size:50px;
    font-wight:bold;
    font-family-"Impact"
    text-align:center;
    background-color:#000000;
}
h2{
    color:#ffff03;
    font-size:30px;
    font-wight:bold;
    font-family-"Impact"
    text-align:center;
    background-color:#ff3333;
    
    
}
h3{
    color:#ffffff;
    font-size:20px;
    font-wight:bold;
    font-family-"Impact"
    text-align:center;
     
    
    
}

p{
    color:skyblue;
    
}

body{
    background-image:url(../images/img_df50e9b9581e2e4c9bc9bed6cca0ce18380281.jpg)
}

tr{
     color:skyblue;
}