div.title{
    width:1000px;
    height:50px;
    background-color:aquamarine;
    text-align:left; 
    font-size:40px;
}

div{
    font-size:0px;
    color:red;
}
div.article{
    width:250px;
    height:100px;
    background-color:bisque;
    text-align:center;
    font-size:40px;
    font-family:"Impact";
    display:inline-block;
}


div.footer{
    width:1000px;
    height:50px;
    background-color:orange;
    text-align:right;
    font-size:40px;
    font-family:"Impact";
    display:inline-block;
}

span.menuitem{
    display:inline-block;
    vertical-align: px;
    width:250px;
    height:300px;
    background-color:cornsilk;
    font-size:30px;
    font-family:"Impact"
    boeder:50px dotted blue;
    display:block;
    vertical-align : top;
     display:inline-block;
}
span.menuitem2{
    display:inline-block;
    vertical-align:20px;
    width:700px;
    height:300px;
    background-color:pink;
    font-size:30px;
    font-family:"Impact"
    boeder:50px dotted blue;
    vertical-align : top;
     display:inline-block;
}

span.menuitem3{
    display:inline-block;
    vertical-align:20px;
    width:700px;
    height:20px;
    background-color:blue;
    font-size:15px;
    font-family:"Impact"
    boeder:50px dotted blue;
    vertical-align : top;
}


span.image1{
    display:inline-block;
    vertical-align:10px;
    width:300px;
    height:200px;
    background-color:blue;
    color:white;
}

span.image2{
    display:inline-block;
    vertical-align:10px;
    width:400px;
    height:200px;
    background-color:black;
    color:white;
}

div.artcle{
    width:1000px;
    height:100px;
    background-color:coral;
    font-size:15px;
    text-align:center;
    
}
div.font{
    width:1000px;
    height:50px;
    background-color:black;
    font-size:15px;
    color:white;
    text-align: right;
}
div.menu{
    font-size:0;
    width:1000px;
}
div.images{
    font-size:0;
    width:1000px;
}